#This requirements add optional packages in order to test some optional features

rel_imp
watchdog
selenium
importlib
pyvirtualdisplay
Pillow

#Optional
ipython
pyzmq
tornado

#windows
#read_directory_changes